*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Manrope', sans-serif;
}
:root{
	--Light-Cyan: hsl(193, 38%, 86%);
	--Neon-Green: hsl(150, 100%, 66%);

	--Grayish-Blue: hsl(217, 19%, 38%);
	--Dark-Grayish-Blue: hsl(217, 19%, 24%);
	--Dark-Blue: hsl(218, 23%, 16%);
}
html{
	position: relative;
}
body{
	background-color: var(--Dark-Blue); 
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	align-items: center;
	font-weight: 800;
	position: relative;
}

#Advice{
	background-color: var(--Dark-Grayish-Blue);
	border: none;
	border-radius: 12px;
	padding: 1rem 2rem;
	color: var(--Light-Cyan);
	text-align: center;
	width: 50%;
	margin: auto;
	position: relative;
}
.advice_id{
	margin-top: 2rem;

}
.advice_id h1{
	color: var(--Neon-Green);
	font-size: 18px;
	letter-spacing: 5px;

}
.advice{
	margin-top: 1rem;
	width: 100%;
}
.advice p{
	font-size: 28px;
	word-wrap: wrap;
}
.divider{
	margin-top: 2rem;
	margin-bottom: 2rem;
}
.divider img{
		width: 100%;
}
.advice_btn{
	margin-top: 2rem;
	position: absolute;
	top: 80%;
	left: 45%;
	background-color: var(--Neon-Green); 
	border-radius: 50%;
	padding: 1rem;
	cursor: pointer;
	transition:all 0.2s ease-in-out;
}
.advice_btn:hover{
	box-shadow: 0px 0px 30px var(--Neon-Green);
}



.attribution { 
	font-size: 14px;
	text-align: center; 
	color: var(--Light-Cyan);
	margin-top: 5rem;	
 }
.attribution a { 
	text-decoration: none;
	color: hsl(228, 45%, 44%); 
	transition: 0.2s ease-in-out;
}
.attribution a:hover{
	color: var(--Neon-Green);
}

@media(max-width: 375px){
	body{
		padding: 0 1rem;
	}
	#Advice{
		width: 100%;
	}
	.divider img{
		width: 100%;
	}
	.advice_btn{
		top: 85%;
		left: 42%;
	}
}
